<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= Restaurant.find(@observation.restaurant_id).name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @observation.date_time %>
</p>

<p>
  <strong>Line size:</strong>
  <%= @observation.line_size %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
