<h1>All Restaurants</h1>

<div class="row">
<ul class="restaurants list-group our_row">
  <% @restaurants.each do |resto| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">
          <h4><%= link_to resto.name, restaurants_path(resto) %></h4>
        </div>
        <div class="col-md-4">
          <%= resto.location %>
        </div>
        <div class="col-md-4">
          <%= link_to '<button type="button" class="btn btn-primary btn-default" style="margin-top: 5px;">Follow</button>'.html_safe, root_path %>
          <!-- these paths are only temporary -->
          <hr/>
          <%= link_to '<button type="button" class="btn btn-danger btn-default">Error?</button>'.html_safe, root_path %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
