<h1><%= @restaurant.name%> : <%= @restaurant.location %></h1>

<script type="text/javascript" charset="utf-8">
$(function() {
	Highcharts.setOptions({
	global: {
	    useUTC: false
	}
	});
	new Highcharts.Chart({
		chart: {
			renderTo: "observations_chart"
		},
		title: {
			text: "Today's Line Length Observations"
		},
		tooltip: {xDateFormat: '%b %e, %l:%M %p' },
		xAxis: {
			type: 'datetime',
			tickInterval : <%=3.hours.to_i*1000%>,
			dateTimeLabelFormats : {
			                second : '%l:%M %p',
			                minute : '%l:%M %p',
			                hour : '%l:%M %p',
			                day : '%l:%M %p',
			                week : '%l:%M %p',
			                month : '%l:%M %p',
			                year : '%l:%M %p'
			            }
		},
		yAxis: {
			title: {
				text: "Length of Line (# of people)"
			}
		},
		series: [{
			name: "<%=@restaurant.name%>",
			data: <%=Restaurant.PastDaysObservations(@restaurant.id).inspect%>,
		}]
	});
});
</script>
<div class="our_row" id="observations_chart" style="width:560px; height:300px;"></div>
<br/>
<div class="span8">
    <%= link_to '<h4>Back to All Restaurants</h4>'.html_safe, restaurants_path %>
	<ul class="observations">
	   <%= render @observations %>
	</ul>
	<%= will_paginate @observations %>
</div>
